.App {
  text-align: center;
}

.MainMenu {
  box-shadow: 3px 3px 3px rgb(170, 170, 170);
}

.logo {
  font-size: 25px;
  text-shadow: 2px 1px 0px rgb(119, 119, 119);
}

.logoPart{
  color: #17a2b8;
}

.LoginForm, .RegisterForm, .ChangePasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin-top: 50px;
}

.RegisterForm input, .ChangePasswordForm input {
  margin-bottom: 25px;
}

.dangerAlert {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.StartPage, .UserProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.pageTitle {
  font-weight: bold;
  font-size: 70px;
  font-variant-caps: small-caps;
  text-shadow: 4px 2px 0px rgb(189, 189, 189);
  margin-bottom: 50px;
}

.movieTable {
  display: flex;
  flex-wrap: wrap;
}

.movieCardWrapper {
  display: inline-block;
  flex-grow: 1;
  flex: 1 1 30%;
  margin: 20px;
}

.movieCard, .userCard {
  align-items: center;
  padding: 20px;
  text-align: center;
}

.MovieDetailsPage {
  padding: 50px 300px;
}

.movieDetailsWrapper {
  text-align: left;
  margin: 0px 150px 100px;
}

th, td {
  min-width: 200%;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  margin-top: 20px;
}

.mr-auto {
  margin-left: 10px;
}

.row {
  justify-content: center;
}

.commentHeader {
  margin: 0px 10px;
}

.countersWrapper{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin: 20px;
}